html {
	font-size: 16px;
	font-family: 'Ubuntu', 'Verdana', sans-serif;


}

body {
	margin: 0;
	background-color: #F4F4F4;
	padding-bottom: 5rem;
}

p {
	margin: 0.8rem 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
}

.float-container {
	clear: both;
}

.float-container:after {
	clear: both;
	content: "";
	display: block;
}


.cf:after {
	content: " ";
	clear: both;
	display: block;
}

.center-block {
	display: block;
	margin: 0 auto;
}

.w25 {
	width: 23%;
	float: left;
}

.w50 {
	float: left;
	width: 49%;
}

.w50:nth-child(even) {
	float: right;
}

.w75 {
	float: left;
	width: 70%;
}

.tooltip {
	position: relative;
}

.tooltip__info {
	position: absolute;
	display: none;
	left: 50%;
	transform: translate(-50%,-100%);
	margin-top: -1rem;
	width: 90%;

	background-color: #333;
	color: #fff;
	text-align: left;
}

.tooltip:hover > .tooltip__info {
	display: block;
	
}
.background-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 45%;
  background: url(images/bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.logo {
	font-size: 2rem;
	line-height: 6rem;
	font-weight: bold;
	color: #fff;
	float: left;
}

.banner-content {
	width: 100%;
	height: 2400px;
	background-color: #fff;
}

.left-menu-container {
	float: right;
}

.menu-list {
	float: left;
	list-style: none;
	background-color: #fff;
	border-radius: 6px;
	margin-left: 2rem;
	padding: 0;
    box-shadow: -1px 5px 22px #000;
}

.menu-list > li {
	position: relative;
	padding: 0.5rem 1rem;
	/*border-left: 1px solid #ccc;*/
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #333;
}

.menu-list > li:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0.5rem;
	width: 1px;
	background-color: #ccc;
	height: 2rem;

}

.menu-list > li:first-child:before {
		display: none;
}

.menu-list > li > a {
	font-size: 2rem;
	color: #333;
}
.menu-list input,
.menu-list select {
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	font-weight: bold;
}

.banner-heading {
	color: #fff;
	font-size: 5rem;
	padding-top: 6%;
	margin-bottom: 6rem;
	text-align: center;
}

.banner-heading > strong {
		color: yellow;
		text-decoration: underline;
}

.bg-section {
	padding:1.5rem 3rem;
    margin-bottom: 3rem;
    box-shadow: 0px 9px 28px #333;
    min-height: 600px;
    border-radius: 2px;
	background-color: #fff;	
}

.section-header {
	text-align: center;
	font-size: 2rem;
}

.product-list {

}

.product {
	width: 25%;
	position: relative;
	float: left;
	box-sizing: border-box;
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	transition: all 0.1s ease-out 0.03s;
	margin-bottom: 1rem;
}

.product:hover {
	z-index: 1;
	transform: scale(1.05);
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.65);
}

.product-list .product:active {

	transform: scale(1);
}
/*
.product-list .product:before {
	opacity: 0;
	content: "Item added!";
	position: absolute;
	padding-top: 50%;
	left: 0;
	top: 0;
	font-size: 2rem;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	background-color: rgba(44, 103, 47, 0);
	transition: all .2s ease-out;
}

.product-list .product:active:before {
	opacity: 1;
	background-color: rgba(44, 103, 47, 0.7);
}*/

.product__image {
    background-image: url(images/p1.png);
    width: 100%;
    padding-top: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem auto;
}

.product__title {
	font-weight: bold;
	color: #333;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.product__description {
    display: inline-block;
    color: #7b7b7b;
    padding: 1rem 0.5rem;
}

.product__price {
	font-size: 1.6rem;
	font-weight: bold;
	color: #673AB7;
}

.product__price.discount {
	text-decoration: line-through;
}

.product__discount {
    color: #3da741;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}
.product__btn {
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #4CAF50;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: bold;
    transition: all 0.1s ease-out;
}

.product__btn:hover {
	background-color: #2c712f;
}

.shopping-cart-holder {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 2;
	height: 0;
	padding: 0;
	overflow: hidden;
	transition: height 0.2s ease-out;
}

.shopping-cart-holder.active {
	height: 3rem;
	padding: 1rem 0;
}

.btn-cart-container > label {
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	background-color: yellow;

	padding: 1rem 2rem;
	border-radius: 50px;
	box-shadow: 1px 1px 6px #333;
	transition: transform .1s ease-out;

}

.btn-cart-container > label:hover {
	transform: scale(1.05);
}

.btn-cart-container > label:active {
	transform: none;
}
.btn-cart-container > label {
	color: #333;
	font-weight: bold;
}



.btn-cart-container > input {
	display: none;
}

.cart-list-container {
	position: fixed;
	width: 100%;
	height: 0;
    background-color: rgba(50, 121, 53, 0.82);
	height: 0px;
	transition: height 0.25s ease-out;
	z-index: 1;
	bottom: 0;
	left: 0;
	overflow: hidden;

}

.btn-cart-container > input:checked + .cart-list-container {
	height: 100%;
	overflow-y: auto;
}

.btn-close-cart {
	cursor: pointer;
    transition: all .3s ease-out;
    font-size: 2rem;
    color: #fff;
    background-color: #4caf50;
    padding: 0rem;
    height: 2.5rem;
    width: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 100%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    box-shadow: 0px 0px 13px #333;
}

.btn-close-cart::after {
    content: "Keep shoping";
    position: absolute;
    top: 4px;
    right: 4rem;
    font-size: 1.5rem;
    display: block;
    padding: 0.5rem 0;
    width: 0;
    background-color: orange;
    box-shadow: 0px 0px 13px #333;
    overflow: hidden;
    transition: width 0.1s ease-out 0.4s;
}

.btn-close-cart:hover {
	background-color: #2c712f;
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.btn-close-cart:hover:after {
	width: 200px;
}

.btn-close-cart:active {
	transition: transform 0.1s ease-out;
	transform: scale(0.9);
}


.cart-list-container > .product {
	width: 20%;
	float: right;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
	margin-bottom: 0;

	/* FIXME */
	height: 353px;


}

.cart-list-container > .product:nth-child(even) {
	background-color: #e8e8e8;
}

.cart-list-container > .product:hover {
	transform: none;
	box-shadow: none;
}
.cart-list-container > .product.sum {
	background-color: #673ab7;
}

.cart-list-container .product__image {
	padding-top: 30%;
}

.cart-list-container .product__remove {
	cursor: pointer;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
}

.cart-list-container .product__remove:before {
	content: "Remove (X)";
	font-weight: bold;
	color: #6d5e5e;
}

.cart-list-container input{
	border: none;
	text-align: center;
    padding: 0.5rem 0 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.cart-list-container input[type="number"] {
    max-width: 3rem;
}

.cart-list-container .product__quantity {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #4CAF50;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    min-height: 4rem;   
}

.cart-list-container .product:nth-child(odd) > .product__quantity {
	background-color: #2c712f;
}

.cart-list-container .product.sum .product__quantity.checkout {
    background-color: orange;
    color: #fff;
    line-height: 2.8rem;
    font-size: 1.5rem;
    font-weight: bold;

    transition: all 0.2s ease-out;
}

.product__quantity.checkout:hover {
    box-shadow: 0px -2px 29px #333;
    transform: scale(1.08);
}

.total-price {
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.total-price:before {
	content: "Total: ";
	color: orange;
}

#promoCode {
	text-transform: uppercase;
	color: red;
}

#promoCode.active {
	color: green;
}

@media screen and (max-width: 1250px)  {
	.cart-list-container > .product {
		width: 25%;
	}
}


@media screen and (max-width: 992px)  {

	.product,
	.cart-list-container > .product {
		width: 33%;
	}

	.background-top {
		padding-top: 100%;
	}
	.logo {
		float: none;
		text-align: center;
	}
	.left-menu-container {
		float: none;
		margin: 0 auto;
	}

	.left-menu-container .menu-list:last-child {
		float: right;
		margin-right: 2rem;
	}
}


@media screen and (max-width: 768px)  {
	html {
		    font-size: 14px;
	}
	.container {
		padding: 0 1rem;
	}
	.w50,
	.w25,
	.w75 {
		width: 100%;
		float: left;
	}

	.cart-list-container > .product {
		width: 50%;
	}	
	

}

@media screen and (max-width: 668px)  {
	.product {
		width: 50%;
	}

	.left-menu-container .menu-list:last-child {
		float: left;
		margin-left: 2rem;
	}	
}

@media screen and (max-width: 470px)  {
	.product,
	.cart-list-container > .product {
		width: 100%;
	}

	.background-top {
		padding-top: 130%;
	}	

	.banner-heading {
		font-size: 3rem;
	}
	
	.menu-list > li {
		max-width: 45%;
    	float: left;
    }
	.left-menu-container {
		display: none;
	}
}